@CHARSET "UTF-8";
/**
 * .frame 主站frame框架样式 是一个经典上左右布局  分顶部，左边，右边3个部分
 */
.frame {
	
}
.frame-header {
	background: #4a7ec0;
	height: 48px;
	display: flex;
	align-items: center;
}
.frame-header img {
	height: 40px;
	margin: 0 20px;
}
.frame-header ul {
	font-size: 0;
	height: 48px;
	margin-bottom: 0;
}
.frame-header li {
	display: inline-block;
	height: 48px;
	line-height: 48px;
	padding: 0 12px;
	font-size: 14px;
}
.frame-header li.on, .frame-header li:hover {
	background: #4874ad;
}
.frame-header li a {
	color: #fff;
}
.frame-body {
	display: flex;
	background: #f5f5f5;
}
.frame-aside {
	width: 200px;
	min-width: 200px;
	background: #fff;
}
.frame-aside ul {
	display: block;
	margin-top: 20px;
}
.frame-aside li {
	display: block;
	background: #fff;
	padding-left: 34px;
	position: relative;
}
.frame-aside li:hover {
	background: #f2f8ff;
}
.frame-aside a {
	display: flex;
	align-items: center;
	height: 48px;
	color: #666;
}
.frame-aside i {
	margin-right: 12px;
	color: #aaa;
	font-size: 20px;
}
.frame-aside i:before {
	color: #aaa;
}
.frame-aside li.on {
	background: #f2f8ff;
}
.frame-aside li.on:before {
	content: '';
	width: 6px;
	height: 48px;
	background: #5784bb;
	position: absolute;
	left: 0;
	top: 0;
}
.frame-aside li.on a {
	color: #5784bb;
}
.frame-aside li.on i:before {
	color: #5784bb;
}
.frame-main {
	flex: 1;
	margin: 8px 12px 0 8px;
	background: #fff;
}

/**
 * .qy 通用业务
 */
.qy {
	display: flex;
}

/**
 * .qy-aside 侧边栏通用样式
 */
.qy-aside {
	width: 250px;
	border-right: 1px solid #f3f3f3;
}
.qy-aside-tool {
	padding: 32px 12px;
	display: flex;
	align-items: center;
}
.qy-aside-tool .search {
	display:inline-block;
	width: 100px;
	flex: 1;
}
.qy-aside-tool a i {
    margin-left: 8px;
    font-size: 24px;
    color: #ddd;
    -webkit-transition: all .3s;
    transition: all .3s;
}
.qy-aside-tool a i:hover {
	color: #49a9ee;
}
.qy-aside-menu {
	
}
.qy-aside-menu h3 {
	margin: 0;
	height: 30px;
	line-height: 30px;
	padding-left: 12px;
	background: #f2f8ff;
	color: #5784bb;
	font-size: 12px;
	font-weight: normal;
}

.qy-aside-menu > ul {
	color: #666;
	font-size: 12px;
    padding-top: 16px;
}

.qy-aside-menu a {
	color: #666;
}

.qy-aside-menu > ul > li {
	display: block;
}

.qy-aside-menu > ul > li > div {
	padding-left: 12px;
	height: 36px;
	display: flex;
	align-items: center;
}

.qy-aside-menu > ul > li > div i {
	color: #979797;
	font-size: 12px;
	margin-right: 8px;
	transform: scale(.8) rotateX(0deg);
	transition: transform .6s;
}

.qy-aside-menu > ul > li.on > div i {
	transform: scale(.8) rotateX(180deg);
}

.qy-aside-menu > ul > li > ul {
	display: none;
}

.qy-aside-menu > ul > li.on ul {
	display: block;
}

.qy-aside-menu > ul > li > ul > li {
	height: 30px;
	display: flex;
	align-items: center;
	padding-left: 32px;
	background: #fff;
	transition: background .3s;
}

.qy-aside-menu > ul > li > ul > li label {
	color: #fff;
	display: inline-block;
	background: #77cdbc;
	padding: 2px;
	margin-right: 8px;
	font-weight: normal;
    padding: 2px 4px;
    border-radius: 2px;
    margin-bottom: 0;
}

.qy-aside-menu > ul > li > ul > li a {
	color: #666;
}

.qy-aside-menu > ul > li > ul > li:hover {
	background: #f5f5f5;
}


/**
 * .qy-list 列表页通用样式
 */
.qy-list {
	flex: 1;
}
.qy-list-info {
	height: 64px;
	line-height: 64px;
	padding: 0 12px;
	display: flex;
	justify-content: space-between;
}
.qy-list-info .right span {
	margin-left: 16px;
}
.qy-list-info .right i {
	margin-right: -8px;
	vertical-align: -1px;
}
.qy-list-action {
	height: 56px;
	padding: 0 12px;
	display: flex;
	justify-content: space-between;
	border-top: 1px solid #ececec;
	border-bottom: 1px solid #ececec;
}
.qy-list-action .btns {
	display: flex;
	align-items: center;
}
.qy-list-action .btns button {
	margin-right: 12px;
}
.qy-list-action .filter {
	display: flex;
	align-items: center;
}
.qy-list-action .filter .dropdown {
	display: inline-block;
	margin-right: 12px;
}
.qy-list-action .filter .search {
	width: 250px;
}
.qy-list-table {
	
}
.qy-list-table > h3 {
	margin: 0;
	background: #f5f5f5;
	height: 40px;
	line-height: 40px;
	font-size: 12px;
	padding-left: 12px; 
}
.qy-list-table .table {
	margin: 0 12px;
}
.qy-list-table .table thead {
	background: transparent;
}
.qy-list-table .table th {
	background: transparent;
	font-weight: bold;
}
.qy-list-pagination {
	margin-top: 48px;
	text-align: center;
}

/**
 * 编辑页
 */
.qy-edit {
	background: #f5f5f9;
	color: #666;
	flex: 1;
}
.qy-edit-title {
	background: #fff;
	border-bottom: 1px solid #f4f4f4;
	padding-left: 24px;
}
.qy-edit-title .wrapper {
	width: 750px;
	text-align: center;
	height: 64px;
	line-height: 64px;
	font-size: 16px;
}
.qy-edit-category {
	background: #fff;
	padding: 18px 48px;
	margin-bottom: 12px;
}
.qy-edit-category .wrapper {
	width: 750px;
}
.qy-edit-category .wrapper > h5 {
	font-weight: normal;
	line-height: 2.4;
}
.qy-edit-category .choose {
	position: relative;
	margin-bottom: 8px;
}
.qy-edit-category .choose > button {
    width: 100%;
    text-align: left;
    position: relative;
    padding-right: 27px;
}   
.qy-edit-category .choose > button i { 
	color: #979797;
    font-size: 12px;
    transform: scale(.8) rotateX(0deg);
    transition: transform .6s;
    position: absolute;
    right: 7px;
    top: 6px;
}   
.qy-edit-category .choose.on > button i {
    transform: scale(.8) rotateX(180deg);
}
.qy-edit-category .choices {
	position: absolute;
	display: none;
	left: 0;
	top: 28px;
	width: 750px;
	height: 350px;    
	background-color: #fff;
    box-shadow: 0 1px 6px rgba(0,0,0,.2);
    border-radius: 4px;
    z-index: 1;
}	
.qy-edit-category .choose.on .choices {
	display: flex;
}
.qy-edit-category .choices .left {
	width: 200px;
	padding-top: 20px;
	border-right: 1px solid #ebebeb;
}	
.qy-edit-category .choices .left li {
	display: block;
	height: 40px;
	line-height: 40px;
	text-align: center;
	background: #fff;
	transition: background .3s;
	cursor: pointer;
	font-size: 12px;
}	
.qy-edit-category .choices .left li:hover {
	background: #f5f5f9;
}	
.qy-edit-category .choices .right {
	flex: 1;
	padding: 24px 0px;
}	
.qy-edit-category .choices .right .bar {
	margin: 0 72px;
}	
.qy-edit-category .choices .right .bar .search {
	width: 100%;
}
.qy-edit-category .choices .right ul {
    margin-top: 8px;
    overflow: hidden;
    max-height: 266px;
    overflow-y: scroll;
}
.qy-edit-category .choices .right ul::-webkit-scrollbar {
	display: none;
}
.qy-edit-category .choices .right li {
	padding: 0 72px;
	cursor: pointer;
	display: block;
	height: 36px;
	line-height: 36px;
	background: #fff;
	transition: background .3s;
	font-size: 12px;
}
.qy-edit-category .choices .right li:hover {
	background: #f5f5f9;
}
.qy-edit-category .info {
	display: flex;
	justify-content: space-between;
	line-height: 2;
	position: relative;
}
.qy-edit-category .info a {
	color: #4594e9;
}
.qy-edit-category .info a i {
	margin-right: 4px;
	vertical-align: -1px;
}
.qy-edit-category .info .detail {
	position: absolute;
	right: 0;
	top: 36px;
	width: 750px;
	border: 1px solid #dadada;
	background: #f9f9f9;
	display: none;
	z-index: 1;
	font-size: 12px;
	color: #282828;
}
.qy-edit-category .info .detail > div {
	padding: 20px 24px 6px;
}
.qy-edit-category .info .detail label {
	display: inline-block;
	width: 72px;
	color: #666; 
}
.qy-edit-category .info.on .detail {
	display: block;
}
.qy-edit-category .info .detail .topLine {
	display: flex;
	flex-wrap: wrap;
	border-bottom: 1px solid #dbdbdb;
}
.qy-edit-category .info .detail .topLine > div {
	width: 230px;
	margin-bottom: 16px;
}
.qy-edit-category .info .detail .centerLine {
	display: flex;
	border-bottom: 1px solid #dbdbdb;
	padding-bottom: 20px;
}
.qy-edit-category .info .detail .centerLine label {
	width: 72px;
}
.qy-edit-category .info .detail .centerLine p {
	flex: 1;
}
.qy-edit-category .info .detail .bottomLine {
	display: flex;
	padding-bottom: 20px;
}
.qy-edit-category .info .detail .bottomLine label {
	width: 72px;
}
.qy-edit-category .info .detail .bottomLine .pojo {
	flex: 1;
}
.qy-edit-category .info .detail .bottomLine .pojo span {
	display: inline-block;
}
.qy-edit-category .info .detail .bottomLine .pojo .des {
	width: 170px;
}
.qy-edit-category .info .detail .bottomLine .pojo .n0 {
	width: 50px;
}
.qy-edit-category .info .detail .bottomLine .pojo .zhi {
	width: 30px;
}
.qy-edit-category .info .detail .bottomLine .pojo .n1 {
	width: 50px;
}
.qy-edit-projects {
	
}
.qy-edit-projects > h3 {
	background: #fff;
	font-weight: normal;
	height: 64px;
	line-height: 64px;
	padding-left: 48px;
	border-bottom: 1px solid #f4f4f4;
	font-size: 16px;
}
.qy-edit-project {
	background: #fff;
	padding: 24px 48px 30px;
	margin-bottom: 12px;
}
.qy-edit-project:last-child {
	margin-bottom: 0;
}
.qy-edit-project .wrapper {
	width: 750px;
	position: relative;
}
.qy-edit-project .action {
    position: absolute;
    right: 0;
    top: 30px;
    margin-right: -46px;
}
.qy-edit-project:nth-child(2) .action {
    margin-right: -26px;
}
.qy-edit-project:nth-child(2) .action i.icon-delete {
    display: none;
}
.qy-edit-project .action i {
	color: #dadada;
	cursor: pointer;
	transition: color .3s;
}
.qy-edit-project .action i:hover {
	color: #108ee9;
}
.qy-edit-project .form-group {
	margin-bottom: 24px;
}
.qy-edit-project .form-group label {
	display: block;
	margin-bottom: 8px;
}
.qy-edit-persons {
	background: #f5f5f9;
	padding: 24px 24px;
}
.qy-edit-persons .line {
	display: flex;
	justify-content: space-between;
	margin-bottom: 16px;
	
}
.qy-edit-persons .line .person > label {
	display: inline-block;
	width: 88px;
}
.qy-edit-persons .line .person button {
	display: inline-block;
	width: 88px;
}
.qy-edit-persons .line .score {
	display: flex;
    align-items: center;
}
.qy-edit-persons .line .score .combobox {
	display: flex;
	width: 88px;
}
.qy-edit-persons .line .score .combobox .plus {
	width: 26px;
	text-align: center;
	border: 1px solid #dadada;
	border-right: none;
	line-height: 24px;
}
.qy-edit-persons .line .score .combobox .plus i {
	color: #78c803;    
	font-size: 16px;
    font-weight: bold;
}
.qy-edit-persons .line .score.score-ex .combobox .plus span {
	color: #8292fa;    
	font-size: 12px;
}
.qy-edit-persons .line .score.score-ex .combobox .plus {
	cursor: pointer;
	user-select: none;
}
.qy-edit-persons .line .score .combobox input {
	flex: 1;
	border-radius: 0;
}
.qy-edit-addProject {
	background: #fff;
	border-top: 1px solid #ebebeb;
	border-bottom: 1px solid #ebebeb;
}
.qy-edit-addProject .wrapper {
	display: flex;
	align-items: center;
	height: 80px;
	justify-content: center;
	width: 750px;
	margin-left: 48px;
}
.qy-edit-submit {
	background: #fff;
}
.qy-edit-submit .wrapper {
	display: flex;
	align-items: center;
	height: 80px;
	justify-content: center;
	width: 750px;
	margin-left: 48px;
	background: #fff;
}
.qy-edit-submit button:first-child {
	margin-right: 24px;
}


	