@CHARSET "UTF-8";
body {
	margin: 0;
	padding: 0;
	background-color: #f5f5f9;
}
.qy {
	margin: 0;
	padding: 0;
}
.qy-head {
	min-width: 1324px;
	padding: 0 50px;
	height: 64px;
	line-height: 64px;
	background-color: #4a7ec0;
	color: #fff;
}
.qy-left-menu li {
	float: none;
}
.qy-content {
	display: flex;
}
.left-qy-content,
.content-menu {
	border-right: 1px solid #ebebeb;
}
.right-qy-content {
	flex: 1;
}
.content-menu {
	width: 240px;
	float: left;
}
.content-list {
	margin: 10px 10px 10px 240px;
}
.text-red {
	color: #ff4141;
}
.table > tbody > tr > td {
	vertical-align: middle;
}
caption {
	background-color: #f2f2f2;
	color: #323232;
	padding: 16px 20px;
}
