.catalog {
	display:-webkit-box;
	display:-webkit-flex;
	display:-ms-flexbox;
}
.catalog > a {
	-webkit-box-flex:1;
	-webkit-flex:1;
	-ms-flex:1;
	flex:1;
}
.catalog i.add-catalog {
	display: none;
	font-size: 21px;
	padding-right: 7px;
	cursor: pointer;
}
.catalog:hover i.add-catalog {
	display: inline-block;
}
.handle {
	display: none;
    background-color: #fff;
    padding: 2px 14px;
    font-size: 12px;
    white-space: nowrap;
}
.handle .edit,
.handle .cancel {
	color: #4a7ec0;
	cursor: pointer;
}
.handle .divide {
	color: #a1a1a1;
	margin: 0 8px;
}
.menu-group>li:hover .handle {
	display: inline-block;
}
.text-red {
	color: #ff4141;
}
.text-green {
	color: #93cd30;
}
.text-orange {
	color: #fc924c;
}
.qy-list-top-info {
	height: 64px;
    /* line-height: 64px; */
    padding: 0 12px;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    justify-content: space-between;
}
.left-info-title {
	color: #666;
	font-size: 14px;
}
.left-info-title .icon-edit {
	color: #4a7ec0;
	font-size: 15px;
	cursor: pointer;
	margin-left: 10px;
}
.left-info-check {
	color: #b6b6b6;
	font-size: 12px;
	margin-top: 4px;
}
.left-info-check>span {
	margin-left: 25px;
}